<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimai.mybatis_plus_demo.mapper.UserMapper">

    <select id="queryLast" resultType="user">
        select * from `user` order by id desc limit 1
    </select>

    <select id="getFund" resultType="com.dimai.mybatis_plus_demo.entity.RefundBean">
      select * from  IMS5_REFUND_APPLY_T

    </select>

</mapper>
